<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">EduChampTemplate</title>

<!-- FAVICONS ICON ============================================= -->
<link rel="icon" th:href="@{/assets/images/favicon.ico}"
	type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/assets/images/favicon.png}" />

<!--[if lt IE 9]>
	<script th:src="@{/assets/js/html5shiv.min.js}"></script>
	<script th:src="@{/assets/js/respond.min.js}"></script>
<![endif]-->

<!-- All PLUGINS CSS ============================================= -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/assets.css}">

<!-- TYPOGRAPHY ============================================= -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/typography.css}">

<!-- SHORTCODES ============================================= -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/shortcodes/shortcodes.css}">

<!-- STYLESHEETS ============================================= -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/style.css}">
<link class="skin" rel="stylesheet" type="text/css"
	th:href="@{/assets/css/color/color-1.css}">

<!-- REVOLUTION SLIDER CSS ============================================= -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendors/revolution/css/layers.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendors/revolution/css/settings.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendors/revolution/css/navigation.css}">
<!-- REVOLUTION SLIDER END -->

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendors/bootstrap/css/bootstrap.min.css}">
</head>

<body id="bg">
	<div class="page-wraper">
		<div id="loading-icon-bx"></div>
		<!-- Header Top ==== -->
		<div th:replace="~{layouts/header :: header}"></div>

		<!-- Header Top END ==== -->
		<!-- Content -->
		<div layout:fragment="content"></div>
		<!-- Content END-->
		<!-- Footer ==== -->
		<div th:replace="~{layouts/footer :: footer}"></div>

		<!-- Footer END ==== -->
		<button class="back-to-top fa fa-chevron-up"></button>
	</div>

	<!-- External JavaScripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/assets/vendors/bootstrap/js/bs-custom-file-input.min.js}"></script>
	<script
		th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script
		th:src="@{/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
	<script th:src="@{/assets/vendors/magnific-popup/magnific-popup.js}"></script>
	<script th:src="@{/assets/vendors/counter/waypoints-min.js}"></script>
	<script th:src="@{/assets/vendors/counter/counterup.min.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.js}"></script>
	<script th:src="@{/assets/vendors/masonry/masonry.js}"></script>
	<script th:src="@{/assets/vendors/masonry/filter.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/assets/js/functions.js}"></script>
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src="@{/assets/vendors/switcher/switcher.js}"></script>
	
	<script layout:fragment="scripts"></script>
</body>

</html>
