<!DOCTYPE html>
<html layout:decorate="~{layouts/site}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="page-content bg-white">
			<div class="page-banner ovbl-dark"
				style="background-image: url(@{/assets/images/banner/banner1.jpg});">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white"
							th:text="${suKien.danhMucSuKien.tenDanhMuc}">Courses Details</h1>
					</div>
				</div>
			</div>
			<div class="breadcrumb-row">
				<div class="container">
					<ul class="list-inline">
						<li><a href="@{/}">Trang chủ</a></li>
						<li>Danh sách sự kiện</li>
						<li th:text="${suKien.tenSuKien}"></li>
					</ul>
				</div>
			</div>
			<div class="content-block">
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-7 col-sm-12">
								<div class="courses-post">
									<div class="ttr-post-media media-effect">
										<a href="#"><img th:src="${suKien.anh}" alt=""></a>
									</div>
									<div class="ttr-post-info">
										<div class="ttr-post-title ">
											<h2 class="post-title" th:text="${suKien.tenSuKien}">Good
												Intentions or Good Results?</h2>
										</div>
									</div>

									<div class="ttr-post-text">
										<p th:utext="${suKien.moTa}">Lorem Ipsum is simply dummy
											text of the printing and typesetting industry. Lorem Ipsum
											has been the industry's standard dummy text ever since the
											1500s, when an unknown printer took a galley of type and
											scrambled it to make a type specimen book.</p>
									</div>
									<div class="courese-overview" id="overview">
										<div class="row" th:utext="${suKien.noiDung}"></div>
									</div>
									<div class="w-100 mt-5" id="instructor">
										<h4>Đánh giá</h4>

										<div class="instructor-bx"
											th:each=" danhGia : ${suKien.danhGiaSuKien}">
											<div class="instructor-author">
												<img th:src="${danhGia.nguoiDung.anh}" alt="">
											</div>
											<div class="instructor-info">
												<h6 th:text="${danhGia.nguoiDung.hoTen}">Keny White</h6>
												<span th:text="${danhGia.nguoiDung.vaiTro.tenVaiTro}">Professor</span>
												<br> <span><i class="fa fa-star text-warning"
													th:each="i : ${#numbers.sequence(1, danhGia.soSao)}"></i><i class="fa fa-star-o text-warning"
													th:each="i : ${#numbers.sequence(1, 5 - danhGia.soSao)}"></i></span>
												<p class="m-b0" th:text="${danhGia.noiDung}">Lorem Ipsum
													is simply dummy text of the printing and typesetting
													centuries</p>
											</div>
										</div>
									</div>
								</div>
								<div class="w-100" id="reviews">

									<div class="comment-respond" id="respond"
										sec:authorize="isAnonymous()">
										<a th:href="@{/dangnhap}">Đăng nhập </a> để đánh giá
									</div>
									<div class="comment-respond" id="respond"
										sec:authorize="isAuthenticated()">
										<h4 class="comment-reply-title mb-3" id="reply-title">Để
											lại một đánh giá</h4>
										<form class="needs-validation" id="commentform"
											th:action="@{/sukien/danhgia/{eventId}(eventId=${suKien.id})}"
											method="post" th:object="${danhGiaMoi}">

											<div class="form-group mb-3">
												<label class="d-block font-weight-bold">Đánh giá của
													bạn</label>
												<div class="d-flex align-items-center">
													<a class="mr-2" id="star1" href="javascript:void(0);"><i
														class="fa fa-star text-warning fa-lg"></i></a> <a class="mr-2"
														id="star2" href="javascript:void(0);"><i
														class="fa fa-star-o text-warning fa-lg"></i></a> <a
														class="mr-2" id="star3" href="javascript:void(0);"><i
														class="fa fa-star-o text-warning fa-lg"></i></a> <a
														class="mr-2" id="star4" href="javascript:void(0);"><i
														class="fa fa-star-o text-warning fa-lg"></i></a> <a
														class="mr-2" id="star5" href="javascript:void(0);"><i
														class="fa fa-star-o text-warning fa-lg"></i></a>
												</div>
												<input type="hidden" id="inputSoSao" th:field="*{soSao}" />
											</div>

											<div class="form-group mb-3">
												<label for="noiDung" class="font-weight-bold">Nội
													dung bình luận</label>
												<textarea class="form-control" rows="5"
													th:field="*{noiDung}"
													placeholder="Chia sẻ cảm nghĩ của bạn về sự kiện này..."
													id="comment"></textarea>
												<div class="text-danger mt-1"
													th:if="${#fields.hasErrors('noiDung')}"
													th:errors="*{noiDung}"></div>
											</div>

											<div class="form-group">
												<button type="submit" class="btn btn-primary px-4"
													id="submit" name="submit">Gửi đánh giá</button>
											</div>
										</form>
									</div>

								</div>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-12 m-b30">
								<div class="bg-primary text-white contact-info-bx m-b30">
									<h2 class="m-b10 title-head">
										Hãy tham dự <span>Đừng bỏ qua</span>
									</h2>
									<p th:utext="${suKien.moTa}">Lorem Ipsum is simply dummy
										text of the printing and typesetting industry.</p>
									<div class="widget widget_getintuch">
										<ul>
											<li><i class="ti-location-pin"></i><span
												th:text="${suKien.diaChi}">75k Newcastle St. Ponte
													Vedra Beach, FL 309382 New York</span></li>
											<li><i class="ti-mobile"></i><span
												th:text="${suKien.sdtHoTro}">0800-123456 (24/7
													Support Line)</span></li>
											<li><i class="ti-email"></i><span
												th:text="${suKien.emailHoTro}">info@example.com</span></li>
											<li th:if="${!suKien.batBuoc}" )
												sec:authorize="isAuthenticated()">
												<form th:action="@{/dangkythamgia}" method="post"
													th:if="${daDangKy == false}">
													<input type="hidden" name="id" th:value="${suKien.id}" />
													<button type="submit" class="btn">Đăng ký ngay</button>
												</form>
												<form th:action="@{/huydangkythamgia}" method="post"
													th:if="${daDangKy == true}">
													<input type="hidden" name="id" th:value="${suKien.id}" />
													<button type="submit" class="btn btn-secondary">Hủy
														đăng ký</button>
												</form>
											</li>
										</ul>
									</div>
									<h5 class="m-t0 m-b20">Follow Us</h5>
									<ul class="list-inline contact-social-bx">
										<li><a href="#" class="btn outline radius-xl"><i
												class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="btn outline radius-xl"><i
												class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="btn outline radius-xl"><i
												class="fa fa-linkedin"></i></a></li>
										<li><a href="#" class="btn outline radius-xl"><i
												class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script layout:fragment="scripts">
		document.addEventListener('DOMContentLoaded', function () {
			const inputSoSao = document.getElementById('inputSoSao');
			const ngoiSaos = [];

			for (let i = 1; i <= 5; i++) {
				ngoiSaos.push(document.getElementById('star' + i));
			}

			function hienSao(soSao) {
				ngoiSaos.forEach((ngoiSao, index) => {
					const i = index + 1;

					const bieuTuong = ngoiSao.querySelector('i');

					inputSoSao.value = soSao;
					if (soSao < i) {
						bieuTuong.classList.add('fa-star-o');
						bieuTuong.classList.remove('fa-star');
					}
					else {
						bieuTuong.classList.add('fa-star');
						bieuTuong.classList.remove('fa-star-o');
					}

				});
			};

			ngoiSaos.forEach((ngoiSao, index) => {
				ngoiSao.addEventListener('click', function () { hienSao(index + 1); });
			});
		})
	</script>
</body>

</html>