<!DOCTYPE html >
<html layout:decorate="~{layouts/site}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Điểm danh</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="content-block">
			<div class="section-area section-sp2 popular-courses-bx">

				<form th:action="@{/luudiemdanh/{id}(id=${thamGia.id})}" method="post"
					id="formdiemdanh"
					class="container d-flex flex-column align-items-center bg-secondary rounded text-light">

					<h2 class="mt-5">Điểm danh</h2>
					<div class="align-self-start m-3"
						th:text="${'Sự kiện: ' + suKien.tenSuKien}"></div>
					<video id="video" autoplay class="col-sm-10 col-lg-5"></video>
					<canvas id="khung" style="display: none;"></canvas>

					<input type="hidden" id="theInputAnh" name="anhBase64" />
					<div class="m-3">
						<button id="nut" type="button" class="btn mr-3">Điểm
							danh</button>
						<a th:href="@{/sukiencuatoi}" class="btn black">Quay lại</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" layout:fragment="scripts">
    document.addEventListener('DOMContentLoaded', function() {
        const video = document.getElementById('video');
        const khung = document.getElementById('khung');
        const btn = document.getElementById('nut');
        
        const formDD = document.getElementById('formdiemdanh');
        const theInputAnh = document.getElementById('theInputAnh');

        async function startCamera() {
                const stream = await navigator.mediaDevices.getUserMedia({ 
                    video: { facingMode: "user" }, 
                    audio: false 
                });
                video.srcObject = stream;
        }

        btn.addEventListener('click', () => {
            btn.disabled = true;

            khung.width = video.videoWidth;
            khung.height = video.videoHeight;
            const context = khung.getContext('2d');
            context.translate(khung.width, 0);
            context.scale(-1, 1);
            context.drawImage(video, 0, 0, khung.width, khung.height);

            const dataUrl = khung.toDataURL('image/jpeg', 0.9);

            theInputAnh.value = dataUrl;
            formDD.submit();
        });
        
        startCamera();
    });
    </script>
</body>
</html>