<!DOCTYPE html>
<html layout:decorate="~{admin/site}">
<body>

	<div class="container-fluid" layout:fragment="content">
		<div class="db-breadcrumb">
			<h4 class="breadcrumb-title">Courses</h4>
			<ul class="db-breadcrumb-list">
				<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
				<li>Courses</li>
			</ul>
		</div>
		<div class="row">
			<!-- Your Profile Views Chart -->
			<div class="col-lg-12 m-b30">
				<div class="widget-box">
					<div class="wc-title">
						<h4>Quản lý bài viết</h4>
						<br> <a class="btn btn-primary"
							th:href="@{/admin/baiviet/create}">Thêm bài viết</a>
					</div>
					<div class="widget-inner">
						<div class="card-courses-list admin-courses"
							th:each="baiViet : ${baiViets}">
							<div class="card-courses-media">
								<img th:src="${baiViet.anh}" alt="" />
							</div>
							<div class="card-courses-full-dec">
								<div class="card-courses-title">
									<h4 th:text="${baiViet.tieuDe}">Tieu de</h4>
								</div>
								<div class="card-courses-list-bx">
									<ul class="card-courses-view">
										<li class="card-courses-user">
											<div class="card-courses-user-pic">
												<img th:src="${baiViet.nguoiDung.anh}" alt="" />
											</div>
											<div class="card-courses-user-info">
												<h4 th:text="${baiViet.nguoiDung.hoTen}">Keny White</h4>
											</div>
										</li>
										<li class="card-courses-categories">
											<h5>Tạo lúc</h5>
											<h4
												th:text="${#temporals.format(baiViet.ngayTao, 'HH:ss - dd/MM/yyyy')}">tg
												tạo</h4>
										</li>
										<li class="card-courses-categories	">
											<h5>Bình luận</h5>
											<h4 th:text="${baiViet.binhLuan.size() + ' bình luận'}"></h4>
										</li>
										<li class="	"><a th:href="@{/admin/baiviet/show/{id}(id = ${baiViet.id})}"
											th:class="${baiViet.hienThi ? 'btn green radius-xl' : 'btn red radius-xl'}"
											th:text="${baiViet.hienThi ? 'Đang hiện' : 'Đã ẩn'}">hien</a></li>
										<li class="card-courses-price"><a th:href="@{/admin/baiviet/update/{id}(id = ${baiViet.id})}"
											class="btn green radius-xl outline">Sửa</a>
									</ul>
								</div>
								<div class="row card-courses-dec">
									<div class="col-md-12">
										<h6 class="m-b10">Mô tả</h6>
										<p th:utext="${baiViet.moTa}">Mô tả.</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Your Profile Views Chart END-->
		</div>
	</div>
</body>

</html>
