<!DOCTYPE html>
<html layout:decorate="~{admin/site}">

<body class="ttr-opened-sidebar ttr-pinned-sidebar">
	<div layout:fragment="content">
		<!--Main container start -->
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Dashboard</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
					<li>Dashboard</li>
				</ul>
			</div>
			<!-- Card -->

			<div class="row">
				<!-- Your Profile Views Chart -->

				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Danh sách người dùng</h4>
							<br> <a class="btn btn-primary"
								th:href="@{/admin/users/create}">Thêm người dùng</a>
						</div>
						<div class="widget-inner">
							<div class="new-user-list">
								<ul>
									<li th:each="nguoidung : ${nguoiDungs}"><span
										class="new-users-pic"> <img th:src="${nguoidung.anh}"
											alt="" />
									</span> <span class="new-users-text"> <a href="#" class="new-users-name" th:text="${nguoidung.hoTen}">Tên </a>
											<span class="new-users-info" th:text="${nguoidung.taiKhoan}">taikhoan</span>
											<br> <span class="new-users-info">role</span>
									</span>
										<div class="new-users-btn">
											<a th:href="@{/admin/users/update/{id}(id=${nguoidung.id})}"
												class="btn button-sm blue">Sửa</a>
											<form class="d-inline" th:action="@{/admin/users/lock}"
												method="post">
												<input type="hidden" th:name="id" th:value="${nguoidung.id}" />
												<button type="submit"
													th:class="${nguoidung.hoatDong} ? 'btn button-sm yellow' : 'btn button-sm red' "
													th:utext="${nguoidung.hoatDong} ? '<i class=\'fa fa-unlock\' ></i> Đang hoạt động' : '<i class=\'fa fa-lock\' ></i> Đã bị khóa'">Khóa</button>
											</form>
										</div></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
