<!DOCTYPE html >
<html layout:decorate="~{layouts/site}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-content bg-white">
			<!-- Main Slider -->
			<div class="section-area section-sp1 ovpr-dark bg-fix online-cours"
				style="background-image: url(images/banner/bnr1.jpg);">
				<div class="container">
					<div class="text-center py-5">
						<h2 class="mb-3 fw-bold text-white" >CHÀO MỪNG ĐẾN VỚI TUẦN LỄ SỰ KIỆN
							TRƯỜNG HỌC</h2>
						<p class="mb-4 fs-5 text-white">Tham gia chuỗi hoạt động sôi nổi, bổ ích
							và đầy ý nghĩa được tổ chức dành cho học sinh – sinh viên toàn
							trường.</p>
					</div>
				</div>

			</div>

			<div class="content-block">
				<!-- Popular Courses -->
				<div class="section-area section-sp2 popular-courses-bx">
					<div class="container">
						<div class="row">
							<div class="col-md-12 heading-bx left">
								<h2 class="title-head">Sự kiện đang diễn ra</h2>
							</div>
						</div>
						<div class="row">
							<div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
								<div class="item" th:each="sukien: ${suKiens}">
									<div class="cours-bx h-100 d-flex flex-column">
										<div class="action-box">
											<a
												th:href="@{/Sukien/{id}/{biDanh}.html(id=${sukien.id}, biDanh=${sukien.biDanh})}"><img
												th:src="${sukien.anh}" alt=""
												style="height: 200px; width: 100%; object-fit: cover;">
											</a>
										</div>
										<div class="info-bx text-center">
											<h5>
												<a
													th:href="@{/Sukien/{id}/{biDanh}.html(id=${sukien.id}, biDanh=${sukien.biDanh})}"
													th:text="${sukien.tenSuKien}">Tên sự kiện</a>
											</h5>
										</div>
										<div class="cours-more-info">
											<div class="review"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- contact area END -->
			</div>
		</div>
		<!-- Content END-->
	</div>
</body>
</html>